/build/
/dist/
/lib/
ivy/ivy.jar
etc/*.sh
data/bible+shakes.nopunc
data/bible+shakes.nopunc.json.packed
data/bible+shakes.nopunc.tuple1.packed
data/bible+shakes.nopunc.tuple2.packed
test/*
pom.xml.asc
*~
.name
ant.xml
compiler.xml
profiles_settings.xml
encodings.xml
lib.xml
misc.xml
modules.xml
scope_settings.xml
uiDesigner.xml
vcs.xml
workspace.xml
umd-hadoop-core.iml
